body{
    margin: 0;
}
header{
    background-color: #242528;
    z-index: 500;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0 1em;
}
#header-img{
    overflow: hidden;
    background-image: url('../images/header/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 10em;
    position: relative;
}
#header-img h1{
    text-indent: -1000em;
}
#nav-logo-wrapper{
    background-image: url("../images/nav/comics-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2em;
    padding-bottom: 2em;
    position: fixed;
    width: 12em;
}
#wrapper{
    background-color: #BAC2C7;
    display: grid;
    grid-template-columns: 12em auto;
    grid-template-rows: auto auto auto;
}
#wrapper nav{
    background-color: #242528;
    grid-column-start: 1;
    grid-column-end: 2;
    min-height: 100vh;
    grid-row-start: 1;
    grid-row-end: 4;
    box-shadow: 1px 1px 8px grey;
    z-index: 1000;    
    align-items: center;
}
/*#wrapper nav .nav-logo{
    background-image: url('../images/nav/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -1000em;
    position: fixed;
    width: 12em;
    height: 5em;
    padding: 0;
}*/
#wrapper nav .nav-logo{
    background-image: url('../images/nav/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -1000em;
    width: 12em;
    height: 5em;
    vertical-align: middle;
    padding: 0;
}
#wrapper nav ul{
    margin-top: 8em;
    position: fixed;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 12em;
    padding: 0;
}
#wrapper nav li{
    text-align: center;
}
#wrapper nav li a{
    color: white;
    padding: 1em 0;
    text-decoration: none;
    text-align: center;
    display: block;
}
#wrapper nav li a:visited{
    color: white;
    text-decoration: none;
}
#wrapper nav li a:hover{
    background-color: whitesmoke;
    padding: 1em 0em;
    color: black;
    text-decoration: none;
}
#wrapper main{
    background-color: #2B3840;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}
#wrapper footer{
    background-color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 2rem 0;
    color: white;
    text-align: center;
    z-index: 300;
}
.italic{
    font-style: italic;
}
#parallax-index-1{
    background-image: url("../images/content/dc-superheroes-blue.jpg");
}
#parallax-index-2{
    background-image: url("../images/content/sandman%20overture.jpg");
}
.parallax{
    width: 100%;
    min-height: 25em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*this project will use a 5 column flex system for the main content*/
.row{
    display: flex;
}
.post{
    padding: 1em;
    box-shadow: 0 1px 6px black;
    /*background-color: #0077FF;*/
    background-color: #3773a1;
    background-image: url("../images/backgrounds/fake-brick.png");
    position: relative;
    animation: fadeIn 2s;
    color: #DBDBDB;
}
.post p{
    font-size: 17px;
}
.post h3{
    font-family: 'Russo One', sans-serif;
    font-size: 2em;
}
.col-5{
    width: 100%;
}
.col-4{
    width: 80%;
}
.col-3{
    width: 60%;
}
.col-2{
    width: 40%;
}
.col-1{
    width: 20%;
}
.card-deck{
    justify-content: center;
}
.card{
    width: 30%;
    margin: 0.5em;
    box-shadow: 0 1px 5px 1.5px #9E9E9E;
    background-color: whitesmoke;
}
.circle{
    border-radius: 50%;
    box-shadow: 0 1px 3px #505050;
}

@keyframes fadeInUp{
    0%{
        top: 300px;
        opacity: 0;
    }
    100%{
        top: 0px;
        opacity: 1;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}