body{
    margin: 0;
}
header{
    background-color: #242528;
    z-index: 500;
}
#header-img{
    overflow: hidden;
    background-image: url('../images/header/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 10em;
    position: relative;
}
#header-img h1{
    text-indent: -1000em;
}
#wrapper{
    background-color: #BAC2C7;
    display: grid;
    grid-template-columns: 12em auto;
}
#wrapper nav{
    background-color: #BAC2C7;
    grid-column-start: 1;
    grid-column-end: 2;
    min-height: 100vh;
    box-shadow: 3px 0px 5px white;
    z-index: 100;
}
#wrapper nav .nav-logo{
    background-image: url('../images/header/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -1000em;
    position: fixed;
    width: 12em;
    padding: 0;
}
#wrapper nav ul{
    position: fixed;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 12em;
    padding: 0;
}
#wrapper nav li{
    text-align: center;
}
#wrapper nav li a{
    color: black;
    padding: 1em 0;
    text-decoration: none;
    text-align: center;
    display: block;
}
#wrapper nav li a:visited{
    text-decoration: none;
}
#wrapper nav li a:hover{
    background-color: #242528;
    padding: 1em 0em;
    color: white;
    text-decoration: none;
}
#wrapper main{
    background-color: #2B3840;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 1rem;
    min-height: 100vh;
}
#wrapper footer{
    background-color: #242528;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 2rem 0;
    color: white;
    text-align: center;
    z-index: 300;
}
/*this project will use a 5 column grid/flex system for the main content*/
.main-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    font-family: 'Alegreya', serif;
}
.main-wrapper div{

}
.row{
    padding: 1em;
    box-shadow: 0 1px 6px black;
    background-color: #22538A;
    background-image: url("../images/backgrounds/black-paper.png");
    position: relative;
    grid-column: 1/6;
    display: flex;
    animation: fadeInUp 3s;
}
.col-5{
    width: 100%;
}
.col-4{
    width: 80%;
}
.col-3{
    width: 60%;
}
.col-2{
    width: 40%;
}
.col-1{
    width: 20%;
}
.card-s{
    grid-column: 1;
}
.card-m{
    grid-column: 2;
}
.card-l{
    grid-column: 3;
}

@keyframes fadeInUp{
    0%{
        top: 250px;
        opacity: 0;
    }
    100%{
        top: 0px;
        opacity: 1;
    }
}